table{
    margin: 200px auto auto auto;
}
td, tr{
    padding: 10px;
}
tr{
    background-color: rgba(0,0,0,0.1);
}
th{
   background-color: #008285;
    color: #FFFFFF;
    padding: 5px;
}
.create
{
    background: #00a2a4;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    display: block;
    margin: 10px auto auto auto;
}
.search-box{
    position: absolute;
    padding: 10px;
    top: 100px;
    right: 30px;
    border: 2px solid #008285 ;
}
.hide {
    display: none;
}

/*#select2*/
/*{*/
/*    display: none;*/
/*}*/
.swal2-styled.swal2-confirm {
    background-color: #008285 !important;
}
#dateBox{
    display: block;
}
#gradBox{
    display: none;
}
#gradTable{
    display: none;
}
#gardaBox
{
    display: none;
}
#ziuaGarda{
    display: none;
}
#vaccinTable{
    margin-top: 100px;
    display: none;
}
#pacientiBolnavi{
    display: none;
}
#pacientiBolnaviBox{
    display: none;
}

.input-auto {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

.input-text {
    background-color: #f1f1f1;
    width: 100%;
}
.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}
#autocompleteBox{
    display: none;
}
#istoriaMedicalaTable{
    display: none;
}