table{
    margin: 200px auto auto auto;
}
td, tr{
    padding: 10px;
}
tr{
    background-color: rgba(0,0,0,0.1);
}
th{
   background-color: #008285;
    color: #FFFFFF;
    padding: 5px;
}
.create
{
    background: #00a2a4;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    display: block;
    margin: 10px auto auto auto;
}
.search-box{
    position: absolute;
    padding: 10px;
    top: 100px;
    right: 30px;
    border: 2px solid #008285 ;
}
.hide{
    display: none;
}
#select2, #select3, #select4, #select5, #select6
{
    display: none;
}
.swal2-styled.swal2-confirm {
    background-color: #008285 !important;
}
#dateBox{
    display: block;
}
#gradBox{
    display: none;
}
#gradTable{
    display: none;
}